$background-color: white;

$header-back: url(../img/m-h-day.jpg) center;

$text-color: #2C2F3C;

$button-color: #699900;

$before-color: #14A0C7;

$card-back: #21232E;

$grad:  linear-gradient(to right, #649410, #00955c, #008ea4, #007ed1, #315fc8);

$footer-color: #21232E;

$footer-font: 'Source Sans Pro', sans-serif;