$background-color: #2C2F3C;

$header-back: url(../img/m-h-night.jpg) center;

$text-color: white;

$button-color: #E3AC00;

$before-color: #FF4E33;

$card-back: #3B3F50;

$grad:  linear-gradient(to right, #dca106, #db7e26, #cd5f39, #b64646, #97344d);

$footer-color: #3B3F50;

$footer-font: 'Fresca', sans-serif;